body {
  margin: 0;
  overflow: hidden;
}

#horizontal-scale-bar {
  position: absolute;
  bottom: 20px;
  left: 50%;

  height: fit-content;

  user-select: none;

  font-family: Arial, sans-serif;
  text-align: center;
  color: #515151;
  background: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;

  /*transform: translateX(-50%);*/


}

#vertical-scale-bar {
  position: absolute;

  user-select: none;

  font-family: Arial, sans-serif;
  text-align: center;
  color: #515151;
  background: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  >span {
    transform: rotate(180deg);
    transform-origin: center center;
    display: inline-block;
  }
}
