body {
  margin: 0;
  overflow: hidden;
}

#scale-bar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 255, 255);
  color: #515151;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
